:root {
  --main-text-color: #434455;
  --text-header: #2e2f42;
  --color-hero: #2e2f42;
  --Light-mode-ourteam: #f4f4fd;
  --main-btn: #f4f4fd;
  --nav-color: #4d5ae5;
  --nav-color-acctive: #404bbf;
  --white-text: #ffffff;
  --button-portfolio:#F4F4FD ;


  --advantages-paragraph: #757575;
  --button-portfolio:#F4F4FD ;
  --contacts-color: #757575;
  
  --black: #000000;
  --team-section-style: ;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-text);
  color: var(--main-text-color);
}
.page-header {
  background-color: var(--white-text);
}

.logo {
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-color);
}

.header-studio-word {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-header);
  }

.nav-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-header);
}
.nav-link :hover,
.nav-link :focus {color: var(--nav-color-acctive);}

.contact{font-style: normal;}
.contact-link :hover,
.contact-link :focus {
  color: var(--nav-color-acctive);
}

.contact-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.hero {
  background: var(--color-hero);
}

.hero-header {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-text);
  }

.booking-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--white-text);
    background: var(--nav-color);
  }
.booking-btn :hover,
.booking-btn :focus {color: var(--nav-color-acctive);}

h1 {
  color: var(--white-text);
}
h2,
h3,
a {
  color: var(--text-header);
}

.advantage-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-header);}


.section-team {
  background-color: var(--Light-mode-ourteam);
}

.section-team-our {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-header);
}

.member {background: #ffffff;}

.team-worker {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-header);
  }
.title-job {font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
color: var(--main-text-color);
}

footer {
  background: #2e2f42;
}

.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-btn);
}

.fut {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-btn);
}

/**PORTFOLIO**/

.button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--nav-color);
  background-color: var(--button-portfolio);
}
.button-all :hover,
.button-all :focus {
  color: var(--white-text);
  background-color: var(--nav-color-acctive);
}

.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--nav-color);
    background-color: var(--button-portfolio);
}

.button-portfolio :hover,
.button-portfolio :focus {
    color: var(--white-text);
    background-color: var(--nav-color-acctive);
  }
.button {cursor: pointer;}

.progect-title {font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.progect-descr {font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
color: var(--main-text-color);}